<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["ApplicationName"].ToString()</title>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <!-- Make sure you have these in your head section -->
    <link href="~/Content/Jquery_ui/jquery-ui.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/JqueryUi/jquery-ui.min.js"></script>
    <script>
        var Globalmsg = "@ViewBag.Operation";
        $(document).ready(function () {
            if (Globalmsg != "") {
                $("#spnGlobalPartialMsg").html(Globalmsg);
                $("#dbGlobalPartialMsg").dialog({
                    resizable: false,
                    modal: true
                })
            }
           
        });
    </script>
</head>
<body>
    <style>
        #LeftBar ul {
            list-style: none;
            color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: larger;
            font-family: Arial, sans-serif;
        }
    </style>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark" style="background-color: rgb(15 40 64) !important;">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" style="z-index:50">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
            <div style="position: absolute; right: 5px; bottom: 1px; height: 70%; width: 200px; color: #adb5bd ">
                @{
                    if (Session["User"] != null)
                    {
                        <span>User: @Session["User"]</span>
                    }
                    if (Session["User"] != null)
                    {
                        using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { style = "position: fixed; top: 15px; right: 20px;" }))
                        {
                            <input type="submit" name="btnLogout" value="LogOut" style="background: rgb(15 40 64); color: #adb5bd " />
                        }
                    }
                }

            </div>

        </div>
    </nav>
    <div id="LeftBar" style=" width: 200px; bottom: 0px; top: 56px; position: absolute; background: #224d1f;">
        <div style="padding:5px; color:azure">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("DashBoard", "DashBoard", "Account", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
    <div id="Content" style="  bottom: 0px; top: 56px;right:0px;left:200px; position: absolute; background: #ffffff;overflow:auto;">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>
  
   @Html.Partial("~/Views/Common/_PartialGlobalMsg.cshtml");

   @RenderSection("scripts", required: false)
</body>
</html>