@using Inventory.Models;
@using System.Data;
@{
    ViewBag.Title = "DashBoard";
}

<style>
    table, table tr, table td, tr th {
        border: 1px solid #4800ff;
    }

        table tr:hover {
            background: #00ffff;
        }

    .container #btnAddNew {
        -ms-transform: translate(-50%, -50%);
        background-color: #f1f1f1;
        color: black;
        font-size: 20px;
        padding: 16px 30px;
        border: none;
        border-radius: 5px;
        text-align: center;
    }

        .container #btnAddNew:hover {
            background-color: #4acad0;
            color: black;
        }
</style>
<script>
    function ShowEquipmentEntryPanel() {
        $("#partial_entry").dialog({
            resizable: false,
            height: 500,
            width: 1000,
            modal: true
        });
        return false;
    }
    function ShowEquipmentAssign() {
        $("#partial_assign").dialog({
            resizable: false,
            height: 500,
            width: 1000,
            modal: true
        });
        return false;
    }
    $(document).ready(function () {

    });
</script>

<h1>@ViewBag.Title</h1>

<form action="/Account/DashBoard" method="post">


    <div class="row">
        <div class="col col-sm-6">
            <input type="button" id="btnAddNew" name="btnAddNew" onclick="return ShowEquipmentEntryPanel()" value="Add New" />
            @{ List<BaseEquipment> list = (List<BaseEquipment>)ViewBag.list;
                <div style="height:400px;width:500px;overflow:auto;border:1px solid steelblue;">
                    <h4>Equipment List</h4>
                    <input type="text" id="txtName" name="txtName" placeholder="Equipment Name" />
                    <input type="submit" value="Search" name="btnSearch" />
                    <input type="submit" value="Clear" name="btnClear" />
                    <table style="width:100%;">
                        <tr style="background: #00b7ff96;">
                            <th>Name</th>
                            <th>Equipment Count</th>
                            <th>Stock</th>
                            <th>DateEntry</th>
                        </tr>
                        @foreach (BaseEquipment item in list)
                        {
                            @*if (ViewBag.txtName != "")
                                {
                                    if (item.Name == ViewBag.txtName)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.EcCount</td>
                                            <td>@item.DateEntry</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.EcCount</td>
                                        <td>@item.DateEntry</td>
                                    </tr>
                                }*@
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.EcCount</td>
                                <td>@item.Stock</td>
                                <td>@item.DateEntry</td>
                            </tr>
                        }
                    </table>
                </div>

            }
        </div>
        <div class="col col-sm-6">
            <input type="button" id="btnAddNew" name="btnEquipAssign" onclick="return ShowEquipmentAssign()" value="Add New" />

            <div id="tblBorder" style="height:400px;overflow:auto;border:1px solid steelblue;">
                <h4>Customer List</h4>
                <table style="width:100%">
                    <tr style="background: #00b7ff96;">
                        @*<th>CustomerID</th>*@
                        <th>Customer Name</th>
                        <th>Customer Mobile</th>
                        <th>Equipment Count</th>
                    </tr>
                    @{
                        System.Data.DataTable dataTable = (System.Data.DataTable)ViewBag.dtCustomerEquip;
                        var pdata = (from p in dataTable.AsEnumerable()
                                     select new
                                     {
                                         //CustomerID = p.Field<Int32>("CustomerID"),
                                         CustomerName = p.Field<string>("CustomerName"),
                                         CustomerMobile = p.Field<string>("CustomerMobile"),
                                         EquipCount = p.Field<Int32>("EquipCount"),
                                     }).ToList();
                        foreach (var obj in pdata)
                        {

                            <tr>
                                @*<td>@obj.CustomerID </td>*@
                                <td>@obj.CustomerName</td>
                                <td>@obj.CustomerMobile</td>
                                <td>@obj.EquipCount</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>




</form>
<hr />
@Html.Partial("~/Views/Account/_PartialEquipmentEntry.cshtml")
@Html.Partial("~/Views/Account/_PartialEquipmentAssign.cshtml")

