@model Inventory.Models.BaseAccount
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Jquery_ui/jquery-ui.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/JqueryUi/jquery-ui.min.js"></script>
    <script>
        var Globalmsg = '@ViewBag.LoginMsg';
        $(document).ready(function () {
            if (Globalmsg != "") {
                $("#spnGlobalPartialMsg").html(Globalmsg);
                $("#dbGlobalPartialMsg").dialog({
                    resizable: false,
                    modal: true
                })
            }
            if (Globalmsg == "Login Success") {
                setTimeout(function () {
                window.location.href = '@Url.Action("Dashboard", "Account")';
                },2000)
            }
        });
    </script>
</head>

<body>
    @*@{
        if (ViewBag.ErrorMsg != null)
        {
            <h4 style="color:red">@ViewBag.ErrorMsg</h4>
        }
    }*@
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "min-vh-100 justify-content-center align-items-center" }))
    {

        @*@Html.AntiForgeryToken()*@

        <div class="form-group">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Passward)
            @Html.PasswordFor(m => m.Passward, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Passward)
        </div>

        <button type="submit" name="btnSubmit" value="Login" class="btn btn-primary">Login</button>
    }
    @Html.Partial("~/Views/Common/_PartialGlobalMsg.cshtml");

</body>
</html>
